#canvas{
    border: dashed 1px black;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
   
}

body {
    
    background: url('../assets/images/back.jpg') no-repeat fixed;
    background-size: 1385px 670px;
    background-repeat: no-repeat;

}